h2.top-1 {
  margin-top: 10%;
}

h2.top-2 {
  margin-top: 15%;
}

h2.top-3  {
  margin-top: 20%;
}

.ok {
  color: #3c763d;
}

.ko {
  color: #a94442;
}

li.respire-top {
  padding-top: 3%;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.reveal .alert {
  width: 80%;
  margin-left: 10%;
}

.reveal .slides section .fragment.push {
  display: none;
  opacity: 0;
}

.reveal .slides section .fragment.push.current-fragment {
  display: inline;
  opacity: 1;
}
