h2.homeTitle {
  margin-top: 15%;
}
h2.partTitle {
  margin-top: 20%;
}

.ok {
  color: #3c763d;
}

.ko {
  color: #a94442;
}

li.respire-top {
  padding-top: 3%;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert {
  width: 80%;
  margin-left: 100px;
}

.reveal .slides section .fragment.push {
	display: none;
  opacity: 0;
}

.reveal .slides section .fragment.push.current-fragment {
	display: inline;
  opacity: 1;
}
