---
---
<!DOCTYPE html>
<html>
  <head>
    <title>My slides - Maxence Poutord</title>
  </head>
  <body>
    <h4>My slides</h4>
    <ul>
    {% for repo in site.github.public_repositories %}
      {% if repo.has_pages and repo.name != site.github.repository_name %}
        <li>
          <a href="{{site.github.url}}/{{repo.name}}">{{repo.description}}</a> <small>[<a href="{{repo.html_url}}">sources</a>]</small>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
    <p>For a full talk list, see <a href="http://www.maxpou.fr/speaking">www.maxpou.fr/speaking</a></p>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67868977-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>

